<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <PackageGroup Id="DesktopServicesPackage">
      <MsiPackage Id="Export.Installer"
                  SourceFile="..\Desktop.Export.Installer\bin\x64\$(var.Configuration)\Desktop.Export.Installer.msi" />
      <MsiPackage Id="Import.Installer"
                  SourceFile="..\Desktop.Import.Installer\bin\x64\$(var.Configuration)\Desktop.Import.Installer.msi" />
      <MsiPackage Id="Desktop.Instance.Installer"
                  SourceFile="..\Desktop.Instance.Installer\bin\x64\$(var.Configuration)\Desktop.Instance.Installer.msi" />
      <MsiPackage Id="Desktop.Integration.Installer"
                  SourceFile="..\Desktop.Integration.Installer\bin\x64\$(var.Configuration)\Desktop.Integration.Installer.msi" />
      <MsiPackage Id="Desktop.InterfaceAPI.Installer"
                  SourceFile="..\Desktop.InterfaceAPI.Installer\bin\x64\$(var.Configuration)\Desktop.InterfaceAPI.Installer.msi" />
      <MsiPackage Id="Cmd.Installer"
                  SourceFile="..\Desktop.Cmd.Installer\bin\x64\$(var.Configuration)\Desktop.Cmd.Installer.msi" />
      <MsiPackage Id="Desktop.UI.Installer"
                  SourceFile="bundle-payloads\Desktop.Desktop.msi"
                  ForcePerMachine="yes" />
    </PackageGroup>
  </Fragment>
</Wix>
